# WordPress Core
wp-admin/
wp-includes/

# Uploads and cache
wp-content/uploads/
wp-content/cache/
wp-content/backups/
wp-content/backuply/
wp-content/speedycache-config/

# Ignore all themes except custom one(s)
wp-content/themes/*
!wp-content/themes/<your-theme-name>/

# Ignore all plugins except custom ones
wp-content/plugins/*
!wp-content/plugins/<your-plugin-name>/

# Secrets and system
wp-config.php
error_log
web.config
.htaccess

# OS junk
.DS_Store
Thumbs.db

# Node build stuff
node_modules/
dist/
